@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Exercises</h1>
    <p class="lead">Python is a widely used high-level programming language. Here you can find 100 challenging exercises for this language.</p>
    <p><a href="https://github.com/zhiwehu/Python-programming-exercises" class="btn btn-primary btn-lg">The author &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Python</h2>
        <p>Python is a very powerful programming language. It has a good documentation with tutorial. It's recommended to read the tutorial before solving the questions.</p>
        <p><a class="btn btn-default" href="https://docs.python.org/3/tutorial/index.html">The tutorial &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Questions</h2>
        <p>Here are exactly 100 questions. Each has a hint and an exemplary solution. The exercises are sorted by levels (beginner, intermediate, advanced).</p>
        <p><a class="btn btn-default" href="@Url.Action("Levels")">Learn more</a></p>
    </div>
</div>