<div class="panel panel-warning">
    <div class="panel-heading">
        An error occurred
    </div>
    <div class="panel-body">
        Could not load the exercises list. Contact the author.
    </div>
</div>
